<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ><a href="/settings" aria-controls="settings" role="tab" data-toggle="tab">Set-Up</a></li>
      <li role="presentation"><a href="/home" aria-controls="home" role="tab" data-toggle="tab">Draft</a></li>
      <li role="presentation" ><a href="/teams" aria-controls="teams" role="tab" data-toggle="tab">League</a></li>
      <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link" ng-repeat="username in login.users">{{username}}</a></p>
    </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="/home"></div>
    <div role="tabpanel" class="tab-pane" id="/teams"></div>
    <div role="tabpanel" class="tab-pane" id="/settings"></div>
  </div>
  </div>
</nav>
<p><a href="/login" class="btn btn-default" >Sign Out</a></p>


<h1>Draft</h1>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search for players" ng-model="draft.searchForPlayer">

      </div>
    </div>
  </form>
<div style="height: 200px; overflow: auto;" class="col-xs-6" id="draftPlayer">
<TABLE class="table table-straight">
    <THEAD style="postion: absolute;">
       <TR>
         <TH class=""> <a href="#" ng-click="draft.data.sortType = 'displayname'; draft.data.sortReverse = !draft.data.sortReverse">
           Player
           <span ng-show="draft.data.sortType == 'displayname' && !draft.data.sortReverse" class="fa fa-caret-down"></span>
           <span ng-show="draft.data.sortType == 'displayname' && draft.data.sortReverse" class="fa fa-caret-up"></span>
         </a></TH>
         <TH class=""> <a href="#" ng-click="draft.data.sortType = 'pos'; draft.data.sortReverse = !draft.data.sortReverse">Position<span ng-show="draft.data.sortType == 'pos'" class="fa fa-caret-down"></span></a></TH>
         <TH class=""> <a href="#" ng-click="draft.data.sortType = 'team'; draft.data.sortReverse = !draft.data.sortReverse">Team<span ng-show="draft.data.sortType == 'team'" class="fa fa-caret-down"></span></a></TH>
         <TH class=""> <a href="#" ng-click="draft.data.sortType = 'byeweek'; draft.data.sortReverse = !draft.data.sortReverse">Bye<span ng-show="draft.data.sortType == 'byeweek'" class="fa fa-caret-down"></span></a></TH>
         <TH class=""> <a href="#" ng-click="draft.data.sortType = 'teams_8'; draft.data.sortReverse = !draft.data.sortReverse">Value<span ng-show="draft.data.sortType == 'teams_8'" class="fa fa-caret-down"></span></a></TH>
       </TR>
    </THEAD>
    <TBODY>
       <TR ng-repeat="player in draft.data.players | orderBy: draft.data.sortType:draft.data.sortReverse | filter: draft.searchForPlayer" adapter="adapter">

         <TD class="filterable-cell">{{player.displayname}}</TD>
         <TD class="filterable-cell">{{player.pos}}</TD>
         <TD class="filterable-cell">{{player.team}}</TD>
         <TD class="filterable-cell">{{player.byeweek}}</TD>
         <TD class="filterable-cell">{{player.teams_8}}</TD>
       </TR>
    </TBODY>
</TABLE>
</div>
<!-- <ANY ui-scroll-viewport></ANY> -->
<div class="col-xs-4" >
    <table class="table table-striped table-bordered">
        <thead> Your Team Name Here
            <tr>
                <th>Position</th>
                <th>Player</th>
                <th>Team</th>
                <th>Bye</th>
                <th>{{draft.data.league.auctionAmount | currency}}</th>
            </tr>
        </thead>

         <tbody>
            <tr ng-repeat="model in draft.numberArray | limitTo: draft.data.team.quarterBacks"> <!--SOMETHING AFTER THIS TO FILTER!!! -->
                <td>QB</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="model in draft.numberArray | limitTo: draft.data.team.runningBacks">
                <td>RB</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="model in draft.numberArray | limitTo: draft.data.team.wideReceivers">
                <td>WR</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="model in draft.numberArray | limitTo: draft.data.team.tightEnds">
                <td>TE</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="model in draft.numberArray | limitTo: draft.data.team.flexSpot">
                <td>Flex</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="model in draft.numberArray | limitTo: draft.data.team.kicker">
                <td>K</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="model in draft.numberArray | limitTo: draft.data.team.defense">
                <td>Defense</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="model in draft.numberArray | limitTo: draft.data.team.benchSpots">
                <td>Bench</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>
