<html>
<head>
<style type="text/css">
html {
  background: none; 
}
body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  background-color: #000;
  background-image: url('../assets/images/draft-pagebg2.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-show="draft.settingsTab" role="presentation" ><a href="/settings" aria-controls="settings" role="tab" data-toggle="tab">Set-Up</a></li>
      <li ng-show="draft.draftTab" class="active" role="presentation"><a href="/home" aria-controls="home" role="tab" data-toggle="tab">Draft</a></li>
      <li ng-show="draft.leagueTab" role="presentation" ><a href="/teams" aria-controls="teams" role="tab" data-toggle="tab">League</a></li>
      <li ng-show="draft.signOut" role="presentation" class="btn btn-black navbar-right"><button style="color: #000;" ng-click="draft.logout()">Sign Out</button></li>
      <li ng-show="draft.signedInAs" role="presentation" class="navbar-text navbar-right">{{draft.firstname}}'s Draft</li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="/home"></div>
      <div role="tabpanel" class="tab-pane" id="/teams"></div>
      <div role="tabpanel" class="tab-pane" id="/settings"></div>
    </div>
  </div>
</nav>

<h1 class="pageHeader">Fantasy Football</h1>
<h2 class="pageHeader">Live Auction Tracker</h2>

  <!-- <h3 class="centerClass">Draft Page</h3> -->
<div style="margin: 50px auto;">
  <p class="draftDirections" ng-show="draft.tabTip">Toggle between checking the status of your opponents' team and drafting
    <button type="button" class="close" aria-label="Close" ng-click="draft.tipOff('tabTip')">
      <span aria-hidden="true">&times;</span>
    </button>
    <br/>by using the 'League' and 'Draft' tabs at the top left corner of the page.
  </p>

  <p class="draftDirections" ng-show="draft.searchTip">Search for players by name or filter by typing<br/>in their position like RB, WR, QB...etc.
    <button type="button" class="close" aria-label="Close" ng-click="draft.tipOff('searchTip')">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>

  <p class="draftDirections" ng-show="draft.draftTip">Click on the player's name that is being auctioned<br/>to draft them to the appropriate team.
    <button type="button" class="close" aria-label="Close" ng-click="draft.tipOff('draftTip')">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>

  <div class="showTips" ng-show="draft.showDraftTips">
    <button type="button" class="tipsButton" ng-click="draft.tipsOn()">Show Tips</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="maxWidth">
      <form name="draftInfo">
        <div id="searchBar">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-search"></i>
              </div>
              <input type="text" class="form-control" placeholder="Search for players" ng-model="draft.searchForPlayer" />
            </div>

            <div ng-show="draft.playerSelected" ng-model="draft.playerSelected" class="whiteBackground">
              <h4 class="selected"><span style="font-size:18px;">{{draft.selectedP.displayname}}</span>
                <br/><span style="font-size: 14px;">{{draft.selectedP.pos}} for {{draft.selectedP.team}}
                <br/>estimated value: {{draft.selectedP.teams_8 | currency:"$":0}}{{draft.selectedP.teams_10 | currency:"$":0}}{{draft.selectedP.teams_12 | currency:"$":0}}{{draft.selectedP.teams_14 | currency:"$":0}}{{draft.selectedP.teams_16 | currency:"$":0}}</span>
              </h4>

              <label for="teamWon"> Team that won the bid:</label>
              <select name="numTeams" ng-model="draft.data.teamArray" ng-options="totalTeams as totalTeams.name for totalTeams in draft.data.totalTeams" ng-required="true">  </select><br />

              <!-- <label for="teamWon"> Amount paid for {{draft.selectedP.displayname}}: </label> -->
              <!-- <form name="form">
                <input type="number" step="1" min="1" ng-model="draft.data.amountPaid" required />
                <button type="button" ng-disabled="form.$invalid" ng-click="draft.sendPlayer($event)" class="btn btn-default btn-primary">Send Player</button>
              </form> -->

              <div class="form-group" ng-class="{ 'has-error': form.amountPaid.$dirty && form.amountPaid.$error.required }">
                <label for="teamWon">Amount paid for {{draft.selectedP.displayname}}: </label>
                <input type="number" step="1" min="1" name="amountPaid" id="amountPaid" ng-model="draft.data.amountPaid" ng-required="true"/>
                <span ng-show="form.amountPaid.$dirty && form.amountPaid.$error.required" class="help-block">Please enter how much was spent on this player.</span>
              </div>

              <div class="form-actions" id="centerId">
                <button type="submit" ng-disabled="draftInfo.$invalid" ng-click="draft.sendPlayer($event)" class="btn btn-default btn-primary">Send Player</button>
                <!-- <button type="submit" ng-disabled="form.$invalid || draft.dataLoading" class="btn btn-primary">Login</button> -->
                <img ng-if="draft.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- <div class="form-group" ng-class="{ 'has-error': form.paidAmount.$dirty && form.paidAmount.$error.required }">
      <label for="teamWon">Amount paid for {{draft.selectedP.displayname}}: </label>
      <input type="number" step="1" min="1" name="paidAmount" id="paidAmount" class="form-control" ng-model="draft.data.amountPaid" required />
      <span ng-show="form.paidAmount.$dirty && form.paidAmount.$error.required" class="help-block">Please enter how much was spent on this player.</span>
    </div>
    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid || draft.dataLoading" class="btn btn-primary">Login</button>
      <img ng-if="draft.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <button type="button" ng-disabled="form.$invalid" ng-click="draft.sendPlayer($event)" class="btn btn-default btn-primary">Send Player</button>
    </div> -->


    <div id="draftPlayer">
      <TABLE class="table table-straight">
        <THEAD ><!-- style="postion: absolute;" -->
          <TR>
            <TH class="" style="width: 140px;"> 
              <a href="#" ng-click="draft.data.sortType = 'displayname'; draft.data.sortReverse = !draft.data.sortReverse">
                Player
                <span ng-show="draft.data.sortType == 'displayname' && !draft.data.sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="draft.data.sortType == 'displayname' && draft.data.sortReverse" class="fa fa-caret-up"></span>
              </a>
            </TH>
            <TH class=""> <a href="#" ng-click="draft.data.sortType = 'pos'; draft.data.sortReverse = !draft.data.sortReverse">Position<span ng-show="draft.data.sortType == 'pos'" class="fa fa-caret-down"></span></a></TH>
            <TH class=""> <a href="#" ng-click="draft.data.sortType = 'team'; draft.data.sortReverse = !draft.data.sortReverse">Team<span ng-show="draft.data.sortType == 'team'" class="fa fa-caret-down"></span></a></TH>
            <TH class=""> <a href="#" ng-click="draft.data.sortType = 'byeweek'; draft.data.sortReverse = !draft.data.sortReverse">Bye<span ng-show="draft.data.sortType == 'byeweek'" class="fa fa-caret-down"></span></a></TH>
            <TH>Min</TH>
            <TH>Max</TH>
            <TH class=""> <a href="#" ng-click="draft.data.sortType = 'teams_8' || 'teams_10' || 'teams_12' || 'teams_14' || 'teams_16'; draft.data.sortReverse = !draft.data.sortReverse">Value<span ng-show="draft.data.sortType == 'teams_8' || 'teams_10' || 'teams_12' || 'teams_14' || 'teams_16'" class="fa fa-caret-down"></span></a></TH>
          </TR>
        </THEAD>

        <TBODY>
          <TR ng-repeat="player in draft.data.players | orderBy: draft.data.sortType:draft.data.sortReverse | filter: draft.searchForPlayer" adapter="adapter" ng-class="{ qbClass: player.pos === 'QB', wrClass: player.pos === 'WR', rbClass: player.pos === 'RB', teClass: player.pos === 'TE', kClass: player.pos === 'K', defClass: player.pos === 'DEF'}" >
            <!-- Stuck RIGHT HERE ONLY READING ONE OF THE NG-CLASSES AT A TIME. At least it covers the whole row!!! -->
            <TD class="filterable-cell" style="width: 140px;" ng-click="draft.selectPlayer(player)">{{player.displayname}}</TD>
            <TD class="filterable-cell">{{player.pos}}</TD>
            <TD class="filterable-cell">{{player.team}}</TD>
            <TD class="filterable-cell">{{player.byeweek}}</TD>
            <TD class="filterable-cell">{{player.teams_8_min | currency:"$":0}}{{player.teams_10_min | currency:"$":0}}{{player.teams_12_min | currency:"$":0}}{{player.teams_14_min | currency:"$":0}}{{player.teams_16_min | currency:"$":0}}</TD>
            <TD class="filterable-cell">{{player.teams_8_max | currency:"$":0}}{{player.teams_10_max | currency:"$":0}}{{player.teams_12_max | currency:"$":0}}{{player.teams_14_max | currency:"$":0}}{{player.teams_16_max | currency:"$":0}}</TD>
            <TD class="filterable-cell" style="background-color: yellow; font-size: 13px; font-weight: bold; color: #000;">{{player.teams_8 | currency:"$":0}}{{player.teams_10 | currency:"$":0}}{{player.teams_12 | currency:"$":0}}{{player.teams_14 | currency:"$":0}}{{player.teams_16 | currency:"$":0}}</TD>
          </TR>
        </TBODY>
      </TABLE>
    </div>
  </div>

  <div class="col-xs-6">
    <!-- <ANY ui-scroll-viewport></ANY> -->
    <div class="col-xs-11" id="myTeamTable">
      <h3 class="col-xs-12" id="tableHeader">{{draft.data.currentTeams[0].name}}</h3>
      <table class="table table-bordered">
        <thead >
          <tr style="background-color: #111111; color: #ffffff;">
            <th>Position</th>
            <th>Player</th>
            <th>Team</th>
            <th>Bye</th>
            <th>{{draft.data.currentTeams[0].auctionAmount | currency:"$":0}}</th>
          </tr>
        </thead>

        <tbody style="background-color: #fff; color: #000">
          <tr ng-repeat="team in draft.data.currentTeams[0].team"> <!--SOMETHING AFTER THIS TO FILTER!!! -->
            <td class="qbClass" ng-if="team.qb.pos === 'QB' ">QB</td>
            <td class="rbClass" ng-if="team.rb.pos === 'RB' ">RB</td>
            <td class="wrClass" ng-if="team.wr.pos === 'WR' " ng-class="wrClass">WR</td>
            <td class="teClass" ng-if="team.te.pos === 'TE' ">TE</td>
            <td ng-if="team.fp.pos === 'Flex' || team.fp.pos === 'WR' || team.fp.pos === 'RB' || team.fp.pos === 'TE' ">Flex</td>
            <td class="kClass" ng-if="team.k.pos === 'K' ">K</td>
            <td class="defClass" ng-if="team.def.pos === 'DEF' ">Def</td>
            <td ng-if="team.bs.pos === 'Bench' || team.bs.pos === 'QB' || team.bs.pos === 'RB' || team.bs.pos === 'WR' || team.bs.pos === 'TE' || team.bs.pos === 'K' || team.bs.pos === 'DEF' ">Bench</td>
            <!-- <td>{{team.qb.pos || team.rb.pos || team.wr.pos || team.te.pos || team.fp.pos || team.k.pos || team.def.pos || team.bs.pos}}</td> -->
            <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">{{team.qb.displayname || team.rb.displayname || team.wr.displayname || team.te.displayname || team.fp.displayname || team.k.displayname || team.def.displayname || team.bs.displayname}}</td>
            <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">{{team.qb.team || team.rb.team || team.wr.team || team.te.team || team.fp.team || team.k.team || team.def.team || team.bs.team}}</td>
            <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">{{team.qb.byeweek || team.rb.byeweek || team.wr.byeweek || team.te.byeweek || team.fp.byeweek || team.k.byeweek || team.def.byeweek || team.bs.byeweek}}</td>
            <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">{{team.qb.paid || team.rb.paid || team.wr.paid || team.te.paid || team.fp.paid || team.k.paid || team.def.paid || team.bs.paid | currency:"$":0}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>