<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ><a href="/settings" aria-controls="settings" role="tab" data-toggle="tab">Set-Up</a></li>
      <li role="presentation"><a href="/home" aria-controls="home" role="tab" data-toggle="tab">Draft</a></li>
      <li role="presentation" ><a href="/teams" aria-controls="teams" role="tab" data-toggle="tab">Teams</a></li>
      <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link" ng-repeat="username in login.users">{{username}}</a></p>
      <p><a href="/login" class="btn btn-default" >Sign Out</a></p>
    </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="/home"></div>
    <div role="tabpanel" class="tab-pane" id="/teams"></div>
    <div role="tabpanel" class="tab-pane" id="/settings"></div>
  </div>
  </div>
</nav>
<!-- <p><a href="/login" class="btn btn-default" >Sign Out</a></p> -->
<h1>Set Up</h1>
<div>
  <form name="myForm">
    <label for="setUpLeague"> League Type: </label>
    <select name="setUpLeague" ng-model="settings.setUpLeague.model" ng-options="type.name for type in settings.setUpLeague.availableOptions">  </select><br />
    <label for="numTeams"> Number of Teams: </label>
    <select name="numTeams" ng-model="settings.newTeams" ng-options="num for num in settings.numTeams">  </select></br>
    <label for="auctionAmount"> Starting Auction Amount: </label>
    <select name="auctionAmount" ng-model="settings.setAmount" ng-options="amt for amt in settings.auctionAmount">  </select></br>
  </form>
  <h3>Let's build your roster</h3>
  <form name="buildRoster">
    <label for="quarterBacks"> Quarterback(s): </label>
    <select name="quarterBacks" ng-model="settings.setQB.model" ng-options="qb for qb in settings.quarterBacks">  </select><br />
  </form>
  <hr>
  <tt>League Type = {{settings.setUpLeague.model.name}}  </tt><br/>
  <tt>Number of Teams = {{settings.newTeams}}</tt><br/>
  <tt>Number of Teams = {{settings.setAmount | currency}}</tt><br/>

</div>

<div class="row">
    <form class="form-inline">
      <div class="form-group">
      </div>
      <button type="submit" ng-click="settings.searchAndDisplayValues()" class="btn btn-default btn-primary">Submit</button>
    </form>
  </div>
