<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-show="settings.settingsTab" role="presentation" ><a href="/settings" aria-controls="settings" role="tab" data-toggle="tab">Set-Up</a></li>
      <li ng-show="settings.draftTab" role="presentation"><a href="/home" aria-controls="home" role="tab" data-toggle="tab">Draft</a></li>
      <li ng-show="settings.leagueTab" role="presentation" ><a href="/teams" aria-controls="teams" role="tab" data-toggle="tab">League</a></li>
      <li ng-show="settings.signOut" role="presentation" class="btn btn-black navbar-right"><button ng-click="settings.logout()">Sign Out</button></li>
      <li ng-show="settings.signedInAs" role="presentation" class="navbar-text navbar-right">Welcome: <span>{{settings.firstname}}</span></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="/home"></div>
      <div role="tabpanel" class="tab-pane" id="/teams"></div>
      <div role="tabpanel" class="tab-pane" id="/settings"></div>
    </div>
  </div>
</nav>
<h1 class="pageHeader">Fantasy Football</h1>
<h2 class="pageHeader">Live Auction Tracker</h2>
<div class="paddingTop">
  <!-- div class="centerClass"> -->
    <div ng-hide="settings.setLeague" ng-model="settings.setLeague">
      <h3 class="centerClass">Let's start by setting up your league</h3>
      <form name="myForm">
        <div id="left" class="col-md-7">
          <div style="text-align: right; margin-top: 20px;">
            <div style="display: inline-block; text-align: left;">
              <label for="setUpLeague"> League Type: </label>
              <select name="setUpLeague" ng-model="settings.setUpLeague.model" ng-options="type.name for type in settings.setUpLeague.availableOptions" style="margin-left: 83px;" class="setWidth">  </select><br />
              <label for="numTeams"> Number of Teams: </label>
              <select name="numTeams" ng-model="settings.league.numTeams" ng-options="num for num in settings.numTeams" ng-change="settings.changedValue(settings.league.numTeams)" style="margin-left: 49.5px;" class="setWidth">  </select></br>
              <label for="auctionAmount"> Starting Auction Amount: </label>
              <select name="auctionAmount" ng-model="settings.league.auctionAmount" ng-options="amt for amt in settings.auctionAmount" style="margin-left: 2.75px;" class="setWidth">  </select><br/>
              <div style="text-align: center;">
                <button type="button" ng-click="settings.hideShow()" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <div id="right" class="col-md-2" style="text-align: center;">
          <!-- <div style="display: inline-block; text-align: left"> -->
          <div ng-if="settings.showDiv">
            <form name="teamNameForm" >
              <div ng-repeat="name in settings.placeholderName track by $index">
                <form name="teamNameFieldForm" >
                  <!-- <label for="teamNames"> {{$index+1}} </label> -->
                  <input type="text" name="settings.teamNames[$index]" ng-model="settings.teamNames[$index]" placeholder="{{name}}" style="text-align: center;" />
                </form>
              </div>
            </form>
          <!-- </div> -->
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </form>
    </div>
  <!-- </div> -->
  <div class="centerClass">
    <div id="left" class="col-md-6 col-xs-6">
      <form name="buildRoster" ng-show="settings.teamSet">
        <h3>Let's build your roster</h3>
        <div style="text-align: center; margin-top: 20px;">
          <div style="display: inline-block; text-align: left;">
            <label for="quarterBacks"> Quarterback(s): </label>
            <select name="quarterBacks" ng-model="settings.team[0].quarterBacks" ng-options="qb for qb in settings.quarterBacks" style="margin-left: 10px;">  </select><br />
            <label for="runningBacks"> Running Backs: </label>
            <select name="runningBacks" ng-model="settings.team[0].runningBacks" ng-options="rb for rb in settings.runningBacks" style="margin-left: 8px;">  </select><br />
            <label for="wideReceivers"> Wide Receivers: </label>
            <select name="wideReceivers" ng-model="settings.team[0].wideReceivers" ng-options="wr for wr in settings.wideReceivers" style="margin-left: 6px;">  </select><br />
            <label for="tightEnds"> Tight End(s): </label>
            <select name="tightEnds" ng-model="settings.team[0].tightEnds" ng-options="te for te in settings.tightEnds" style="margin-left: 29.5px;">  </select><br />
            <label for="flexSpot"> Flex Position(s): </label>
            <select name="flexSpot" ng-model="settings.team[0].flexSpot" ng-options="fp for fp in settings.flexSpot" style="margin-left: 8px;">  </select><br />
            <label for="kicker"> Kicker: </label>
            <select name="kicker" ng-model="settings.team[0].kicker" ng-options="k for k in settings.kicker" style="margin-left: 65.5px;">  </select><br />
            <label for="defense"> Defense: </label>
            <select name="defense" ng-model="settings.team[0].defense" ng-options="d for d in settings.defense" style="margin-left: 53px;">  </select><br />
            <label for="benchSpots"> Bench Spots: </label>
            <select name="benchSpots" ng-model="settings.team[0].benchSpots" ng-options="bs for bs in settings.benchSpots" style="margin-left: 23px;">  </select><br />
          </div>
        </div>
  <!--   <p>If everything looks correct, click submit to continue</p> -->
        <button type="button" ng-click="settings.createLeague()" class="btn btn-default btn-primary" style="margin-top: 20px;">Submit</button>
    <!-- inside ng-click ; settings.getPPR() -->
        <hr>
        <tt>League Type = {{settings.setUpLeague.model.name}}  </tt><br/>
        <tt>Number of Teams = {{settings.league.numTeams}}</tt><br/>
        <tt>Auction Amount = {{settings.league.auctionAmount | currency:"$":0}}</tt><br/>
      </form>
    </div>
  </div>
</div>
<div class="col-xs-4" ng-show="settings.teamSet">
  <table class="table table-bordered">
    <thead>
      <tr style="background-color: #111111; color: #ffffff;">
        <th>Position</th>
        <th>Player</th>
        <th>Team</th>
        <th>Bye</th>
        <th>{{settings.league.auctionAmount | currency:"$":0}}</th>
      </tr>
    </thead>

    <tbody style="background-color: #ffffff;">
      <tr ng-repeat="model in settings.setTeams | limitTo: settings.team[0].quarterBacks">
        <td class="qbClass">QB</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td></td>
      </tr>
      <tr ng-repeat="model in settings.setTeams | limitTo: settings.team[0].runningBacks">
        <td class="rbClass">RB</td>
        <td></td>
        <td></td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="model in settings.setTeams | limitTo: settings.team[0].wideReceivers">
        <td class="wrClass" >WR</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="model in settings.setTeams | limitTo: settings.team[0].tightEnds">
        <td class="teClass">TE</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="model in settings.setTeams | limitTo: settings.team[0].flexSpot">
        <td>Flex</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="model in settings.setTeams | limitTo: settings.team[0].kicker">
        <td class="kClass">K</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="model in settings.setTeams | limitTo: settings.team[0].defense">
        <td class="defClass">Defense</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="model in settings.setTeams | limitTo: settings.team[0].benchSpots">
        <td>Bench</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <tt>Total Players on Roster = {{settings.team[0].quarterBacks + settings.team[0].runningBacks + settings.team[0].wideReceivers + settings.team[0].tightEnds + settings.team[0].flexSpot + settings.team[0].kicker + settings.team[0].defense + settings.team[0].benchSpots}}</tt>
</div>
