<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-show="league.settingsTab" role="presentation" ><a href="/settings" aria-controls="settings" role="tab" data-toggle="tab">Set-Up</a></li>
      <li ng-show="league.draftTab" style="color: white;" role="presentation"><a href="/home" aria-controls="home" role="tab" data-toggle="tab">Draft</a></li>
      <li ng-show="league.leagueTab" role="presentation" ><a href="/teams" aria-controls="teams" role="tab" data-toggle="tab">League</a></li>
      <li ng-show="league.signOut" role="presentation" class="btn btn-white navbar-right"><button ng-click="league.logout()">Sign Out</button></li>
      <li ng-show="league.signedInAs" role="presentation" class="navbar-text text-white navbar-right">{{league.firstname}}'s signed in</li>
    </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="/home"></div>
    <div role="tabpanel" class="tab-pane" id="/teams"></div>
    <div role="tabpanel" class="tab-pane" id="/settings"></div>
  </div>
  </div>
</nav>
<h1 class="pageHeader">Fantasy Football</h1>
<h2 class="pageHeader">Live Auction Tracker</h2>
<div class="paddingTop">
<h3 class="centerClass">League</h3>
</div>
<div ng-repeat="totalTeams in league.data.totalTeams | limitTo: league.data.totalTeams track by $index">
<div class="col-xs-4">
    <table  class="table table-bordered" >
        <thead> {{totalTeams.name}}
            <tr style="background-color: #111111; color: #ffffff;">
                <th>Position</th>
                <th>Player</th>
                <th>Team</th>
                <th>Bye</th>
                <th>{{totalTeams.auctionAmount | currency:"$":0}}</th>
            </tr>
        </thead>

         <tbody style="background-color: #ffffff;">
            <tr ng-repeat="team in totalTeams.team">
                <td class="qbClass" ng-if="team.qb.pos === 'QB' ">QB</td>
                <td class="rbClass" ng-if="team.rb.pos === 'RB' ">RB</td>
                <td class="wrClass" ng-if="team.wr.pos === 'WR' ">WR</td>
                <td class="teClass" ng-if="team.te.pos === 'TE' ">TE</td>
                <td ng-if="team.fp.pos === 'Flex' || team.fp.pos === 'WR' || team.fp.pos === 'RB' || team.fp.pos === 'TE' ">Flex</td>
                <td class="kClass" ng-if="team.k.pos === 'K' ">K</td>
                <td class="defClass" ng-if="team.def.pos === 'DEF' ">Def</td>
                <td ng-if="team.bs.pos === 'Bench' || team.bs.pos === 'QB' || team.bs.pos === 'RB' || team.bs.pos === 'WR' || team.bs.pos === 'TE' || team.bs.pos === 'K' || team.bs.pos === 'DEF' ">Bench</td>
                 <!-- <td>{{team.qb.pos || team.rb.pos || team.wr.pos || team.te.pos || team.fp.pos || team.k.pos || team.def.pos || team.bs.pos}}</td> -->
                <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">{{team.qb.displayname || team.rb.displayname || team.wr.displayname || team.te.displayname || team.fp.displayname || team.k.displayname || team.def.displayname || team.bs.displayname}}</td>
                <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">{{team.qb.team || team.rb.team || team.wr.team || team.te.team || team.fp.team || team.k.team || team.def.team || team.bs.team}}</td>
                <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">{{team.qb.byeweek || team.rb.byeweek || team.wr.byeweek || team.te.byeweek || team.fp.byeweek || team.k.byeweek || team.def.byeweek || team.bs.byeweek}}</td>
                <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">{{team.qb.paid || team.rb.paid || team.wr.paid || team.te.paid || team.fp.paid || team.k.paid || team.def.paid || team.bs.paid | currency:"$":0}}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
