<html>
<head>
<style type="text/css">
html {
  background: none; 
}
body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  background-color: #000;
  background-image: url('../assets/images/draft-pagebg2.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-tabs" role="tablist">
      <li ng-show="league.settingsTab" role="presentation" ><a href="/settings" aria-controls="settings" role="tab" data-toggle="tab">Set-Up</a></li>
      <li ng-show="league.draftTab" role="presentation"><a href="/home" aria-controls="home" role="tab" data-toggle="tab">Draft</a></li>
      <li ng-show="league.leagueTab" class="active" role="presentation" ><a href="/teams" aria-controls="teams" role="tab" data-toggle="tab">League</a></li>
      <li ng-show="league.signOut" role="presentation" class="btn btn-white navbar-right"><button style="color: #000;" ng-click="league.logout()">Sign Out</button></li>
      <li ng-show="league.signedInAs" role="presentation" class="navbar-text text-white navbar-right">{{league.firstname}}'s Draft</li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="/home"></div>
      <div role="tabpanel" class="tab-pane" id="/teams"></div>
      <div role="tabpanel" class="tab-pane" id="/settings"></div>
    </div>
  </div>
</nav>

<h1 class="pageHeader">Fantasy Football</h1>
<h2 class="pageHeader">Live Auction Tracker</h2>

<div style="margin: 50px auto;">
  <p class="draftDirections" ng-show="league.wrongChoiceTip">Double click their name for options to transfer<br/>them to another team or undraft them.
    <button type="button" class="close" aria-label="Close" ng-click="league.tipOff('wrongChoiceTip')">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>

  <p class="draftDirections" ng-show="league.wrongValueTip" style="margin: 15px auto 0;">If the price of the player is incorrect, double click their cost to correct it.
    <button type="button" class="close" aria-label="Close" ng-click="league.tipOff('wrongValueTip')">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>

  <div class="showTips" ng-show="league.showLeagueTips">
    <button type="button" class="tipsButton" ng-click="league.tipsOn()">Show Tips</button>
  </div>
</div>

<div ng-repeat="totalTeams in league.data.totalTeams | limitTo: league.data.totalTeams track by $index">
  <div class="col-xs-4">
    <table  id="teamTables" class="table table-bordered" >
      <h3 class="col-xs-12" id="tableHeader">{{totalTeams.name}}</h3>
      <thead>
        <tr style="background-color: #111111; color: #ffffff;">
          <th>Position</th>
          <th>Player</th>
          <th>Team</th>
          <th>Bye</th>
          <th>{{totalTeams.auctionAmount | currency:"$":0}}</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="team in totalTeams.team">
          <td class="qbClass" ng-if="team.qb.pos === 'QB' ">QB</td>
          <td class="rbClass" ng-if="team.rb.pos === 'RB' ">RB</td>
          <td class="wrClass" ng-if="team.wr.pos === 'WR' ">WR</td>
          <td class="teClass" ng-if="team.te.pos === 'TE' ">TE</td>
          <td ng-if="team.fp.pos === 'Flex' || team.fp.pos === 'WR' || team.fp.pos === 'RB' || team.fp.pos === 'TE' ">Flex</td>
          <td class="kClass" ng-if="team.k.pos === 'K' ">K</td>
          <td class="defClass" ng-if="team.def.pos === 'DEF' ">Def</td>
          <td ng-if="team.bs.pos === 'Bench' || team.bs.pos === 'QB' || team.bs.pos === 'RB' || team.bs.pos === 'WR' || team.bs.pos === 'TE' || team.bs.pos === 'K' || team.bs.pos === 'DEF' ">Bench</td>

          <!-- I dont like this method for showing button. Feels long and convoluted
          also, don't need player.transfer as a t/f statement. Can accomplish by
          reusing player.edit just have it trigger button vs input -->
          <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">
            <span ng-hide="team.transfer" ng-dblclick="league.movePlayer(totalTeams.name, team.qb || team.rb || team.wr || team.te || team.fp || team.k || team.def || team.bs)"> <!-- Technically this could be function can have empty parameters, will leave for now just in case-->
              {{team.qb.displayname || team.rb.displayname || team.wr.displayname || team.te.displayname || team.fp.displayname || team.k.displayname || team.def.displayname || team.bs.displayname}}
            </span> 

            <span ng-show="team.qb.transfer || team.rb.transfer || team.wr.transfer || team.te.transfer || team.k.transfer || team.def.transfer || team.fp.transfer || team.bs.transfer">
              <br/>
              <select id="teamTransfer" name="numTeams" ng-model="league.data.teamArray" ng-options="totalTeams as totalTeams.name for totalTeams in league.data.totalTeams" class="fa fa-angle-down"> {{league.data.teamArray.name}}</select>
              <button id="undraftButton" ng-disabled="league.data.teamArray ===''" ng-click="league.teamTransfer(totalTeams, league.data.teamArray, team.qb || team.rb || team.wr || team.te || team.fp || team.k || team.def || team.bs)">Transfer</button>
              <br/>
              <button id="undraftButton" ng-click="league.undraftPlayer(totalTeams.name, team.qb || team.rb || team.wr || team.te || team.fp || team.k || team.def || team.bs)">Undraft</button>
            </span>
          </td>

          <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">
            {{team.qb.team || team.rb.team || team.wr.team || team.te.team || team.fp.team || team.k.team || team.def.team || team.bs.team}}
          </td>

          <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">
            {{team.qb.byeweek || team.rb.byeweek || team.wr.byeweek || team.te.byeweek || team.fp.byeweek || team.k.byeweek || team.def.byeweek || team.bs.byeweek}}
          </td>

          <td ng-class="{ qbClass: team.qb.pos === 'QB' || team.bs.pos === 'QB', wrClass: team.wr.pos === 'WR' || team.fp.pos === 'WR' || team.bs.pos === 'WR', rbClass: team.rb.pos === 'RB'  || team.fp.pos === 'RB' || team.bs.pos === 'RB', teClass: team.te.pos === 'TE'  || team.fp.pos === 'TE' || team.bs.pos === 'TE', kClass: team.k.pos === 'K' || team.bs.pos === 'K', defClass: team.def.pos === 'DEF' || team.bs.pos === 'DEF' }">
            <span ng-hide="team.editing" ng-dblclick="league.editDollars(totalTeams.name, team.qb || team.rb || team.wr || team.te || team.fp || team.k || team.def || team.bs)">
              {{team.qb.paid || team.rb.paid || team.wr.paid || team.te.paid || team.fp.paid || team.k.paid || team.def.paid || team.bs.paid | currency:"$":0}}
            </span>

            <form ng-submit="league.doneEditing(league.newValue)">
              <input type="number" ng-show="team.qb.editing || team.rb.editing || team.wr.editing || team.te.editing || team.k.editing || team.def.editing || team.fp.editing || team.bs.editing" ng-model="league.newValue" ng-blur="league.doneEditing(league.newValue)" autofocus />
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>