/*body { padding-top: 70px; }*/
/*h1 {
  padding: 450px;
  text-align: center;
}*/
.navbar-nav > li > a {
  padding-top:5px !important;
  padding-bottom:5px !important;
}
.navbar {
  min-height:32px !important
  absolute;
}
h1 {
  color: purple;
}
